apiVersion: v1
kind: Service
metadata:
  name: django-service
  namespace: django-app-namespace
spec:
  type: NodePort
  selector:
    app: django-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8001
      nodePort: 30007

      
